// Hinamizawa
// __________________________________________________________
// https://github.com/alejandroatacho
// If any issues arises or fixes are need read the comments below to find out which selectors are which.

@mixin responsive($breakpoint) {
    @if $breakpoint == extra_small_mobile {
      @media (max-width: 320px) {
        @content;
      }
    } @else if $breakpoint == small_mobile {
      @media (min-width: 321px) and (max-width: 480px) {
        @content;
      }
    } @else if $breakpoint == mobile {
      @media (min-width: 481px) and (max-width: 767px) {
        @content;
      }
      
    } @else if $breakpoint == iphone_6_7_8 {
      @media (min-width: 375px) and (max-width: 667px) {
        @content;
      }
    } @else if $breakpoint == iphone_x {
      @media (min-width: 375px) and (max-width: 812px) {
        @content;
      }
    } @else if $breakpoint == ipad {
      @media (min-width: 768px) and (max-width: 1024px) {
        @content;
      }
    } 
      @else if $breakpoint == samsung_galaxy_s8_s9 {
      @media (min-width: 360px) and (max-width: 740px) {
        @content;
      }
    } @else if $breakpoint == google_pixel_3 {
      @media (min-width: 393px) and (max-width: 786px) {
        @content;
      }
    }
    @else if $breakpoint == tablet_portrait {
      @media (min-width: 768px) and (max-width: 991px) {
        @content;
      }
    } @else if $breakpoint == tablet_landscape {
      @media (min-width: 992px) and (max-width: 1199px) {
        @content;
      }
    } @else if $breakpoint == laptop_small {
      @media (min-width: 1200px) and (max-width: 1366px) {
        @content;
      }
    } @else if $breakpoint == laptop_medium {
      @media (min-width: 1367px) and (max-width: 1599px) {
        @content;
      }
    } @else if $breakpoint == laptop_large {
      @media (min-width: 1600px) and (max-width: 1920px) {
        @content;
      }
    } @else if $breakpoint == desktop {
      @media (min-width: 1921px) and (max-width: 2560px) {
        @content;
      }
    } @else if $breakpoint == large_desktop {
      @media (min-width: 2561px) and (max-width: 3440px) {
        @content;
      }
    } @else if $breakpoint == ultra_wide {
      @media (min-width: 3441px) {
        @content;
      }
    }
  }